---
import { Image } from 'astro:assets';
import Team from './team.astro';
import MSImage from '~/assets/MS-Startups-Badge.png';
import GIZImage from '~/assets/GIZ-Startups-Badge.png';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
  description:
    'PatentAssist.ai is at the forefront of cutting-edge technology, utilizing AI and large language models to revolutionize the way patent agents and inventors approach prior art search and patent drafting. Our mission is to empower inventors with most advanced tools to acquire license to their Intellectual Property. Our tools make the patent process more efficient and accurate than ever before.',
};
---

<Layout metadata={metadata}>
  <Team />

  <div
    class="relative bg-slate-50 p-8 md:px-20 md:py-20 mt-10 mx-auto max-w-5xl rounded-lg flex flex-col md:flex-row items-center text-center"
  >
    <div class="md:w-1/2 rounded-lg">
      <Image
        src={GIZImage}
        alt="GIZ-Startups-Badge"
        widths={[200, 400, 600]}
      />
    </div>

    <div class="w-full md:w-1/2 pl-0 md:pl-8 text-center md:text-left mb-4 md:mb-0">
      <div class="absolute top-0 left-0 bg-primary text-white p-2 rounded-tl-lg rounded-br-lg">New!</div>
      <p class="text-black-300 pt-10 md:pt-0 font-medium text-lg md:text-xl">
        We are officially a part of <a href="https://www.giz.de/en/html/index.html" target="_blank">GIZ</a> community and
        are supported under their programme <b>Business Ideas for Development (BID-2024)</b>.
      </p>
    </div>
  </div>

  <div
    class="relative bg-slate-50 p-8 md:px-20 md:py-20 mt-10 mx-auto max-w-5xl rounded-lg flex flex-col md:flex-row items-center text-center"
  >
    <div class="w-full md:w-1/2 pr-0 md:pr-8 text-center md:text-right mb-4 md:mb-0">
      <p class="text-black-300 pt-10 md:pt-0 font-medium text-lg md:text-xl">
        Patentassist.ai is now a part of Microsoft's Program for Startups Founders Hub.
      </p>
    </div>

    <div class="md:w-1/2">
      <Image
        src={MSImage}
        alt="MS-Startups-Badge"
        widths={[200, 400, 600]}
        sizes="(max-width: 500px) 100vw, 400px"
        loading="eager"
      />
    </div>
  </div>

  <div class="relative bg-slate-50 p-2 md:px-20 md:py-5 mt-10 mx-auto max-w-5xl rounded-lg text-center">
    <span class="text-black-300 pt-10 md:pt-0 font-normal text-lg md:text-xl">
      <span class="text-2xl mr-2">⚡</span>
      Powered by <span class="font-medium"
        ><a href="https://incubolabs.com/" target="_blank">Incubo Labs Private Limited</a></span
      >
    </span>
  </div>
</Layout>
