---
const teamData = [
  {
    name: "Raj Sutariya",
    link: "https://www.linkedin.com/in/raj-sutariya/",
    role: "Co-Founder, Tech Lead",
  },
  {
    name: "Mahish Guru",
    link: "https://www.linkedin.com/in/mahish-guru-451337262/",
    role: "Co-Founder, Executions",
  },
  {
    name: "Dharmik Patel",
    link: "https://www.linkedin.com/in/dharmik-patel1097/",
    role: "Co-Founder, Business Lead",
  },
  {
    name: "Yash Suhagiya",
    link: "https://www.linkedin.com/in/yashsuhagiiya/",
    role: "Principal Engineer",
  },
];
---

<div class="flex flex-col gap-3 m-auto max-w-4xl mt-16">
  <h3 class="font-bold text-2xl text-gray-800">Team</h3>
</div>

<div class="grid grid-cols-2 md:grid-cols-4 gap-10 mx-auto max-w-4xl mt-2">
  {
    teamData.map((member) => (
      <div class="my-3">
        <a
          href={member.link}
          target="_blank"
          class="text-xl hover:text-primary">
          {member.name}
        </a>
        <div class="text-xs text-slate-500">{member.role}</div>
      </div>
    ))
  }
</div>
